{% extends 'layouts/main.html' %}
{% block title %}Sobre{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Sobre esta página</h1>
</div>
<p class="lead">Página inicial para o teste do portal Telemedicina</p>
<p>Esse site foi feito baseando no livro do Flask, flask real python</p>
<p>É apenas uma caixa oca, o site real seria adicionado aqui</p>
<p>Deverá conter apenas funções  básicas como Signin, signup, logout, etc.</p>
<p>Se tiver interesse buscar: <a href="http://www.realpython.com"></p>

{% endblock %}
