{% extends 'layouts/form.html' %}
{% block title %}signin{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Logar <a href="{{ url_for('home') }}" title="De volta a Principal"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.csrf_token }}
    {{ form.username(class_ = 'form-control first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    {{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('forgot') }}">Esqueceu a senha?</a></p>
    <p class="pull-right"><a href="{{ url_for('register') }}">Registrar</a></p>
    <input type="submit" value="Enviar" class="btn btn-primary btn-lg btn-block" enabled>
  </form>
{% endblock %}
